{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block scripts %}
{% endblock scripts %}

{% block content %}

    <div class="ui container" style="margin: 20px; width: 95%;">
        <div class="ui segment">
            <form class="ui form" method="post" style="direction: rtl">
                {% csrf_token %}
                <div class="inline fields">
                    <div class="field">
                        <label for="tamhidat_card_price">قیمت تمهیدات کارت</label>
                        <input id="tamhidat_card_price" required name="tamhidat_card_price" value="100000" type="number" />
                    </div>
                    <div class="field">
                        <label for="levels">تعداد سطوح</label>
                        <input id="levels" required name="levels" type="number" />
                    </div>
                    <div class="field">
                        <label for="people_in_a_level">تعداد افراد دعوت شده</label>
                        <input id="people_in_a_level" required name="people_in_a_level" type="number" />
                    </div>
                    <div class="field">
                        <label for="first_level_share">درصد یک سطح بالاتر</label>
                        <input id="first_level_share" required name="first_level_share" type="number" />
                    </div>
                    <div class="field">
                        <label for="other_levels_share">درصد بقیه سطح ها</label>
                        <input id="other_levels_share" required name="other_levels_share" type="number" />
                    </div>
                </div>
                <input class="ui primary button" style="margin-right: 30px; width: 150px;" type="submit" value="افزودن" />
            </form>
        </div>
        <div class="ui segment">
            <p style="direction: rtl; padding: 10px;">
            * شیوه نمایش سهم افراد هر سطح: مجموع درآمد افراد آن سطح - مجموع درآمد هر نفر در آن سطح - تعداد افراد
            </p>
            <table class="ui single line striped selectable unstackable table center aligned">
                <tr>
                    <th>
                        قیمت
                    </th>
                    <th>
                        تعداد سطوح
                    </th>
                    <th>
                        تعداد افراد دعوت شده
                    </th>
                    <th>
                        درصد یک سطح بالاتر
                    </th>
                    <th>
                        درصد بقیه سطح ها
                    </th>
                    <th>
                        * سهم افراد هر سطح
                    </th>
                    <th>
                        مجموع درآمد افراد
                    </th>
                    <th>
                        درآمد آویژه
                    </th>
                    <th>
                        مجموع کل درآمد ها
                    </th>
                    <th>
                        عملیات
                    </th>
                </tr>

                {% for level_type in level_types %}
                    <tr>
                        <td>
                            {{ level_type.tamhidat_card_price }}
                        </td>
                        <td>
                            {{ level_type.levels }}
                        </td>
                        <td>
                            {{ level_type.people_in_a_level }}
                        </td>
                        <td>
                            {{ level_type.first_level_share }}
                        </td>
                        <td>
                            {{ level_type.other_levels_share }}
                        </td>
                        <td>
                            {% for share_amount in level_type.shares %}
                                {{ share_amount }} <br />
                            {% endfor %}
                        </td>
                        <td>
                            {{ level_type.shares_total }}
                        </td>
                        <td>
                            {{ level_type.avizhe_share }}
                        </td>
                        <td>
                            {{ level_type.total }}
                        </td>
                        <td>
                            <a href="{% url 'solar:delete' pk=level_type.pk %}">حذف</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock content %}